* {
    color: white;
}

body {
    margin: 0;
    /* background-color: #080808; */
    /* background-color: #0f0f18; */
    background: #050b0b;
}

.projetos {
    display: block;
    text-align: center;
}

.projetos h1{
    font-size: 24px;
}

.projetos h2 {
    color:#16caf2 !important;
    margin-top: -1rem;
}

.subtitle {
    color: #828282 !important;
    font-size: 20px !important;
    font-family: 'Courier New', Courier, monospace !important;
}

#resumo {
    color: #828282 !important;
    font-size: 20px !important;
    margin-top: 1rem;
    /* font-family: 'Courier New', Courier, monospace !important; */
    
}

#topbar {
    font-family: Poppins;
    border-bottom: 1px solid #17d4ff;
    height: 50px;
    /* padding: 0.5rem; */
    align-items: center;
}

#topbar a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.view-btn {
    border: solid 1px #16caf2;
    border-radius: 2rem;
    width: 100px;
    height: 30px;
}


.view-btn:hover {
    background-color:#17d4ff;
}
.menu-items {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu-items a:hover {
    color:#17d4ff;
}

#conteudo-principal {
    font-family: Poppins;
    font-size: 36px;
    text-align: center;
}

#conteudo-principal p {
    font-family: Poppins;
    font-size: 36px;
    margin: 0;
}

#welcome-img {
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

#minha-foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

#entre-em-contato {
    text-align: center;
}

input {
    background-color: #303030;
    border-radius: 2rem;
    color: white;
    border: none;
}

input[type="submit"] {
    font-size: 20px;
    height: 40px;
    width: 80px;
    font-family: Poppins;
    border: 1px solid #15afd2;
    border-radius: 2rem;
    background-color: #050b0b;;
}

input[type="submit"]:hover {
    background-color: #15afd2;
}

#habilidades h1{

    text-align: center;
}

#habilidades h2 {
    margin: 1rem;
}

#habilidades ul {
    margin: 1rem;
    font-size: 24px;
}

#menu-btn {
    display: none;
}

#sobre-mim {
    width: 100px;
    height: 20px;
    align-items: center;
    text-align: center;
}



#novidade1, #novidade2 {
    border: 1px solid #15afd2;
    border-radius: 2rem;
    display: block;
    height: 540px;
    margin: auto;
    margin-bottom: 2rem;
    width: 540px;
    text-align: center;
}

.welcome-buttons a {
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #17d4ff;
    border-radius: 3rem;
    padding: 0.8rem;
}

.welcome-buttons a:hover {
    background-color: #15afd2;
}

@media (max-width: 600px) {
    .menu-items {
        list-style: none;
        display: flex;
        gap: 0rem;
        margin: 0.6rem;
        padding: 0;
    }    

}